/**
 * @file
 * Visual styles for inline forms.
 */

/**
 * Improve form vertical space consumptions inside fieldset.
 */
.fieldset .form--inline .form-actions {
  clear: none;
  margin-top: 40px;
  margin-left: var(--space-xs); /* LTR */
  float: left; /* LTR */
}
[dir="rtl"] .fieldset .form--inline .form-actions {
  clear: none;
  float: right;
  margin-right: var(--space-xs);
}
