/**
 * @file
 * Page title.
 */

@import "../base/variables.css";

.block-page-title-block {
  margin-bottom: var(--space-l);
}

.page-title {
  display: inline-block;
  font-size: var(--font-size-h1);
  line-height: var(--line-height);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
