/**
 * Visual styles for views exposed form.
 */

/**
 * Use flexbox and some margin resets to make the fields + actions go inline
 */

.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.views-exposed-form .form-item {
  float: none;
  margin-top: var(--space-s);
  margin-bottom: 0;
  margin-right: var(--space-xs);
}

.views-exposed-form .form-actions {
  clear: none;
  margin: var(--space-s) 0 0 var(--space-xs); /* LTR */
}

[dir="rtl"] .views-exposed-form .form-actions {
  margin: var(--space-s) var(--space-xs) 0 0;
}

.views-exposed-form .form-actions .button {
  margin-top: var(--space-s);
  margin-bottom: 0;
}
